/*--------------*\
    COLORS PAGE
\*--------------*/

$color-gree:     #444;

$color-beige:    #ebebeb;

$color-red:      #ea4137;

$color-purple:   #34217e;

$color-blue:     #405097;

$color-blue-light: #3c9bd4
