<div class="container container-form">
    <div class="alert alert-success" *ngIf="status == 'success'">
        El usuario se ha creado correctamente.
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        El usuario  ya existe intenta con otro usuario.
    </div>
    <div class="row col-10 mx-auto frame px-0">
        <div class="col-md-6 p-0 hide-palm">
            <img class="w-100 border-img" style="height: 490px;" src="assets/images/formularios/register.png" alt="">
        </div>
        <div class="col-md-6 bg-gree border-form py-4">            
            <form #registerForm="ngForm" (submit)="onSubmit(registerForm)" ngNativeValidate>
                <fieldset>
                    <h2><legend class="font-weight-bold">Registrate</legend></h2>
                    <div class="form-group pt-3">
                        <label for="name">Nombres</label>
                        <input type="text" class="form-control" required name="name" pattern="[a-zA-Z\s]+"
                        #name="ngModel" [(ngModel)]="user.name" minlength="2">    
                        <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                            El nombre no es valido
                        </small>                    
                    </div>
                    <div class="form-group">
                        <label for="surnameRegister">Apelidos</label>
                        <input type="text" class="form-control"  name="surname" required pattern="[a-zA-Z\s]+"
                        #surname="ngModel" [(ngModel)]="user.surname">
                        <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                            Apellido invalido 
                        </small>  
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        #email="ngModel" [(ngModel)]="user.email">
                        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                            El email no es valido
                        </small>  
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required
                        #password="ngModel" [(ngModel)]="user.password">
                        <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                            Contraseña invalidad
                        </small>  
                    </div>
                    <div class="text-center px-5 mt-4">
                        <input type="submit" class="btn btn-purple text-white w-100" value="Registrarse">
                    </div>                    
                </fieldset>
            </form>
        </div>
    </div>
</div>