@import  '../../../assets/scss/settings.responsive.scss';
@import '../../../assets/scss/build.mixin.scss';

.content-footer-red{
    border-top: 1px solid #dddddd;
    height: 200px;    
}
.content-foot-copy{
    border-top: 1px solid #dddddd;
    height: 100px;
    background-color: #232323;
    color: #969696 !important;
    line-height: 67px;
    
}
.content-foot-copy a{
    color: #969696 !important;
}
.input-search{
    height: 50px;
    border-radius: 0;
    font-size: 15px;
}
.input-search:nth-child(2){
    font-size: 20px;
}
.footer--whatsapp{    
    position: fixed;
    bottom: 3%;
    right: 1%;
    background-image: url(../../../assets/images/footer/icons8-whatsapp.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;   
    z-index: 600; 
    transition: all 0.4s ease-in-out;
    @include media-query (small){
        bottom: 1%;
    }
    @include attention(){
        transform: scale3d(1.1, 1.1, 1.1);
    }
}