.content-footer-red{
    border-top: 1px solid #dddddd;
    height: 200px;
    margin-top: 125px;
}
.content-foot-copy{
    border-top: 1px solid #dddddd;
    height: 100px;
    background-color: #232323;
    color: #969696 !important;
    line-height: 67px;
    
}
.content-foot-copy a{
    color: #969696 !important;
}
.input-search{
    height: 50px;
    border-radius: 0;
    font-size: 15px;
}
.input-search:nth-child(2){
    font-size: 20px;
}