<div class="container my-5 py-3 spinner-load" *ngIf="!posts">
    <mat-spinner></mat-spinner>
    Cargando....
</div>
<div *ngIf="status == 'delete'" class="alert alert-success">
    El articulo se elimino.
</div> 
<section class="container content--list__product" *ngIf="posts"> 
    <div class="row product__header">
        <h1 class="text-bold col-lg-6 col-md-6 col-12">Blog de belleza</h1>      
        <div class="product__filter col-lg-6 col-md-6 col-12">            
            <mat-form-field appearance="fill" class="hide-palm">
                <mat-label>Categorias</mat-label>
                <mat-select name="category" [(ngModel)]="filterPost.category_id">
                    <mat-option [disabled] [value]="0">Todas las categorias</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                </mat-select>                
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>BUSCAR</mat-label>
                <input autocomplete="off" name="title" [(ngModel)]="filterPost.title" matInput placeholder="e.g maquillaje moderno">                
            </mat-form-field>           
        </div>                  
    </div>   
    <div class="row mt-5">
        <div class="card-identity frame" *ngFor="let post of posts | filter:filterPost.title | filterCategory:filterPost.category_id">            
            <div class="w-100 content-img" *ngIf="post.url">
                <img [src]="getThumb(post.url, 'maxresdefault')" class="card-img-top" alt="Imagen videos" style="height: 200px;">
            </div>
            <div class="w-100 content-img" *ngIf="!post.url">
                <img src="/assets/images/default/default.png" class="card-img-top" alt="Imagen default">
            </div>                                 
            <div class="card-body content-info">
                <h5 class="card-title text-center text-gree text-title-card">{{ post.title }}</h5>            
                <p class="card-text"><small class="text-muted"></small></p>                
                <app-modal-actions [post]="post" *ngIf="identity && post.user.role == 'ROLE_ADMIN' && identity.sub == post.user.id"></app-modal-actions>             
                <div>
                    <a [routerLink]="['/detalle/articulo', post.id]" class="btn btn-purple btn-submit-form text-white w-100">VER POST</a>                
                </div>                                        
                <!-- MODAL DELETE -->
                <div class="modal fade" id="{{'mymodal'+post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <app-modal-delete [post]="post" (is_delete)="deletePost($event)"></app-modal-delete>                
                </div>
            </div>
        </div>   
    </div>    
    <nav aria-label="Page navigation example" class="pagination__product" *ngIf="total_pages >= 2">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" [routerLink]="['/tutoriales', prev_page]" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of number_pages">
                <a class="page-link" [routerLink]="['/tutoriales', page]">{{page}}</a>
            </li>       
            <li class="page-item">
                <a class="page-link" [routerLink]="['/tutoriales', next_page]" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
  