<div class="container my-5 py-3 spinner-load" *ngIf="!products && !status">
    <mat-spinner></mat-spinner>
    Cargando....
</div>
<div *ngIf="status == 'delete'" class="alert alert-success">
    El articulo se elimino.
</div> 
<div *ngIf="status === 'error' && type !== 'oferta'" class="container text-center my-5">
    <p>No encontramos ningún producto con <b>{{search}}</b>.</p>
    <a [routerLink]="['/catalogo/1/all']" class="btn btn-purple text-white">Ver catálogo</a>
</div>
<div *ngIf="status === 'error' && type === 'oferta'" class="container text-center my-5">
    <p>No encontramos ningún producto en oferta.</p>
    <a [routerLink]="['/catalogo/1/all']" class="btn btn-purple text-white">Ver catálogo</a>
</div>
<section class="container content--list__product" *ngIf="products">
    <div class="row product__header">
        <h1 class="col-lg-6 col-md-6 col-12">Productos</h1>
        <div class="product__filter col-lg-6 col-md-6 col-12">            
            <mat-form-field appearance="fill" class="hide-palm" *ngIf="is_exist !== false">
                <mat-label>Categorias</mat-label>
                <mat-select name="category" [(ngModel)]="filterProduct.category">
                    <mat-option [disabled] [value]="0">Todas las categorias</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                </mat-select>                
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>BUSCAR</mat-label>
                <input autocomplete="off" name="name" [(ngModel)]="filterProduct.name" matInput placeholder="e.g sombras">                
            </mat-form-field>           
        </div> 
    </div>
    <div class="row product--list">
        <div class="card-identity frame" *ngFor="let product of products | filterProduct:filterProduct.name | filterProductCategory:filterProduct.category">            
            <div *ngIf="product.image; else imgDeafault">
                <img class="card-img-top" src="{{url + 'image/product/' + product.image}}" alt="{{'Producto' + product.image}}">                
            </div>
            <ng-template #imgDeafault><img class="card-img-top" src="../../../assets/images/default/default.png" alt="img default"></ng-template>
            <div class="p-3">
                <h5>{{product.name}}</h5>
                <app-modal-actions [product]="product" *ngIf="identity && product.user.role == 'ROLE_ADMIN' && identity.sub == product.user.id"></app-modal-actions>
                <div class="row">
                    <div class="col-6 price-product">
                        {{product.price | currency : 'COP ' :'symbol':'1.0'}}
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-purple text-white" data-toggle="modal" [attr.data-target]="'#modalCart'+product.id">COMPRAR</a>                                        
                    </div>
                </div>                
            </div>
            <!-- MODAL DELETE -->
            <div class="modal fade" id="{{'mymodal'+product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <app-modal-delete [product]="product" (is_delete)="deleteProduct($event)"></app-modal-delete>
            </div>
            <!-- MODAL CART -->            
            <div class="modal fade" id="{{'modalCart'+product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <app-modal-cart [product]="product"></app-modal-cart>                
            </div>
        </div>
    </div>

    <!-- Navigation pages-->
    <nav aria-label="Page navigation example" class="pagination__product" *ngIf="total_pages >= 2">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" routerLink="/catalogo/{{prev_page}}/all" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of number_pages">
                <a class="page-link" routerLink="/catalogo/{{page}}/all">{{page}}</a>
            </li>       
            <li class="page-item">
                <a class="page-link" routerLink="/catalogo/{{next_page}}/all" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
  