<div class="container my-5 py-3 spinner-load" *ngIf="!products">
    <mat-spinner></mat-spinner>
    Cargando....
</div>
<div *ngIf="status == 'delete'" class="alert alert-success">
    El articulo se elimino.
</div> 
<div class="container mt-5 pt-3" *ngIf="products">
    <div class="col text-center pb-5">
        <h1 class="mb-5 text-gree text-title">Productos</h1>  
    </div>
    <div class="row">
        <div class="col">            
            <mat-form-field appearance="fill" *ngIf="is_exist != false">
                <mat-label>Categorias</mat-label>
                <mat-select name="category" [(ngModel)]="filterProduct.category">
                    <mat-option [disabled] [value]="0">Todas las categorias</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                </mat-select>                
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>BUSCAR</mat-label>
                <input autocomplete="off" name="name" [(ngModel)]="filterProduct.name" matInput placeholder="e.g sombras">                
            </mat-form-field>           
        </div>        
    </div>        
    <div class="row mt-5" *ngIf="products && products.length >= 1 && status == 'success'">
        <div class="card-identity frame" *ngFor="let product of products | filterProduct:filterProduct.name | filterProductCategory:filterProduct.category">                        
            <div class="w-100 content-img" *ngIf="product.image">
                <img src="{{url + 'image/product/' + product.image}}" class="card-img-top" alt="Imagen producto" style="height: 200px;">
            </div>
            <div class="w-100 content-img" *ngIf="!product.image">
                <img src="assets/images/default/default.png" class="card-img-top" alt="Imagen default">
            </div>                                 
            <div class="card-body content-info">
                <h5 class="card-title text-center text-gree text-title-card">{{ product.name }}</h5>                            
                <div class="post-buttons  ml-3">
                    <p class="card-text"><small class="text-muted"></small>{{product.price}}</p>                
                    <div>
                        <a *ngIf="!identity || identity.sub != product.user.id" class="btn btn-purple btn-submit-form text-white w-100" data-toggle="modal"  [attr.data-target]="'#modalCart'+product.id">AGREGAR A LA BOLSA</a>                
                    </div>                    
                    <span *ngIf="identity && identity.sub == product.user.id">
                        <a routerLink="/detalle/producto/{{product.id}}" class="btn btn-blue text-white ml-3 mr-4">Ver</a>                
                        <a routerLink="/editar/producto/{{product.id}}" class="btn btn-yellow mr-4">Editar</a>
                        <a type="button" class="btn btn-red mr-4" data-toggle="modal"  [attr.data-target]="'#mymodal'+product.id">Borrar</a>                    
                    </span>  
                    <!-- MODAL DELETE -->
                    <div class="modal fade" id="{{'mymodal'+product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Seguro desea eliminar?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            {{product.title}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-blue text-white" data-dismiss="modal">Cancelar</button>
                                <a (click)="deleteProduct(product.id)" data-dismiss="modal" class="btn btn-red mr-4">Borrar</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL CART -->
                    <div class="modal fade" id="{{'modalCart'+product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog  modal-lg ">
                            <div class="modal-cart-content row">                                                                                                                                                                
                                <div class="col-lg-6 col-sm-6 col-6 py-3" *ngIf="product.image; else imgDefault">
                                    <img src="{{url + 'image/product/' + product.image}}" alt="Imagen producto"> 
                                </div>
                                <ng-template #imgDefault>
                                    <div class="col-lg-6 col-sm-6 col-6 py-3">
                                      <img src="assets/images/default/default.png" alt="Imagen default">
                                    </div>
                                  </ng-template>
                                <div class="col-lg-6 col-sm-6 col-6 py-3">   
                                    <button type="button" class="close pr-1" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>                                                                 
                                    <div class="">
                                    <h3>{{product.name}}</h3>
                                    <p>{{product.price}}</p>
                                    <div>
                                        <label for="quantity">Cantidad</label>
                                        <input type="number" #name [(ngModel)]="product.stock">
                                        <p>Subtotal:{{product.stock * product.price}}</p>
                                    </div>
                                    </div>
                                    <div>
                                        <a (click)="addCart(product)" data-dismiss="modal" class="btn btn-purple text-white">Agregar</a>
                                        <a class="btn btn-blue text-white" data-dismiss="modal">Cancelar</a>                                        
                                    </div>
                                </div>                                
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>    
    <nav aria-label="Page navigation example" class="mt-4" *ngIf="total_pages >= 2">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" routerLink="/catalogo/{{prev_page}}/all" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of number_pages">
                <a class="page-link" routerLink="/catalogo/{{page}}/all">{{page}}</a>
            </li>       
            <li class="page-item">
                <a class="page-link" routerLink="/catalogo/{{next_page}}/all" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
  