<div class="container my-5 py-3 spinner-load" *ngIf="!video">
    <mat-spinner></mat-spinner>
    Cargando....
</div>
<div class="container my-5 frame-form bg-gree" *ngIf="video">    
    <div class="row content--post">        
        <div class="col-md-7 col-sm-12 mt-1" *ngIf="video.url">                    
            <iframe class="frame" width="100%" height="300" [src]="getVideoIframe(video.url)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                        
        </div>
        <div class="col-md-7 col-sm-12 mt-1" *ngIf="!video.url">
            <img src="assets/images/default/default.png" class="card-img-top" alt="Imagen default">
        </div>            
        <div class="col-md-5 col-sm-12 mt-1 content__post--info">
            <div class="border-dotted">
                <div style="height: 247px;">
                    <h2 class="post__title">{{video.title}}</h2>
                    <p class="post__date">{{getDate(video.createdAt)}}</p>
                    <p class="post__description" [innerHtml]="video.content"></p>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-12 post__user">
                        Posted by &nbsp;<a routerLink="/articulos/usuario/{{video.user.id}}/1" class="">{{video.user.name + ' ' + video.user.surname | titlecase }}</a>
                    </div>
                    <div class="col-md-4 col-sm-12 post__view--all">
                        <a class="" routerLink="/tutoriales/1">Ver más <i class="pl-1 fas fa-arrow-circle-right"></i></a>                        
                    </div>                    
                </div> 
            </div>
        </div>
    </div>
</div>