<div class="container my-5 py-3 spinner-load" *ngIf="!products">
    <mat-spinner></mat-spinner>
    Cargando....
</div>
<div class="alert alert-danger" *ngIf="status == 'error'">
    EL usuario {{user.name + ' ' + user.surname}} no tiene articulos 
</div>
<section class="container content--list__product" *ngIf="user && status == 'success'">
    <h3 class="mb-3">{{user.name + ' ' + user.surname}}</h3>        
    <div class="row mt-5" *ngIf="products && products.length >= 1 && status == 'success'">        
        <div class="card-identity frame" *ngFor="let product of products">           
            <div *ngIf="product.image; else imgDeafault">
                <img class="card-img-top" src="{{url + 'image/product/' + product.image}}" alt="{{'Producto' + product.image}}">                
            </div>
            <ng-template #imgDeafault><img class="card-img-top" src="../../../assets/images/default/default.png" alt="img default"></ng-template>
            <div class="p-3">
                <h5>{{product.name}}</h5>
                <app-modal-actions [product]="product" *ngIf="identity && product.user.role == 'ROLE_ADMIN' && identity.sub == product.user.id"></app-modal-actions>
                <div class="row">
                    <div class="col-6 price-product">
                        {{product.price | currency : 'COP ' :'symbol':'1.0'}}
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-purple text-white" data-toggle="modal" [attr.data-target]="'#modalCart'+product.id">COMPRAR</a>                                        
                    </div>
                </div>                
            </div>
            <!-- MODAL DELETE -->
            <div class="modal fade" id="{{'mymodal'+product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <app-modal-delete [product]="product" (is_delete)="deleteProduct($event)"></app-modal-delete>
            </div>
            <!-- MODAL CART -->            
            <div class="modal fade" id="{{'modalCart'+product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <app-modal-cart [product]="product"></app-modal-cart>                
            </div>
        </div>  
    </div>    
    <nav aria-label="Page navigation example" class="pagination__product" *ngIf="total_pages >=2">
        <ul class="pagination justify-content-center">
            <li class="page-item">
            <a class="page-link" routerLink="/productos/usuario/{{user.id}}/{{prev_page}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            </li>
            <li class="page-item" *ngFor="let page of number_pages">
            <a class="page-link text-gree" routerLink="/productos/usuario/{{user.id}}/{{page}}">{{page}}</a>
            </li>       
            <li class="page-item">
            <a class="page-link" routerLink="/productos/usuario/{{user.id}}/{{next_page}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            </li>
        </ul>
    </nav>
</section>