/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;800&display=swap');
@import './assets/scss/settings.colors.scss';
@import './assets/scss/settings.responsive.scss';
@import './assets/scss/build.mixin.scss';


body{
    font-family: 'Nunito', sans-serif !important;
}


// Hide
.hide-palm{
    @include media-query(small){
        display: none !important;
    }
}
.hide-desk{
	@include media-query(desktop){
		display: none !important;
	}
}
.hide-table{
	@include media-query(tablet){
		display: none !important;
	}
}
.hide-portable{
	@include media-query(portable){
		display: none !important;
	}
}



/********* Frames **********/

.frame{
	@include box-shadow (2);
    border-radius: 15px !important;
}

.frame-form{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.3);
    border-radius: 15px !important;
}


/*********** forms *************/
.container-form{
	margin: 4em auto;
}
.form-control{
	@include attention (focus){
		border-color: lighten($color-purple, 20) !important;
    	box-shadow: 0 0 0 0.2rem lighten($color-purple, 30) !important;
	}
}

/******* Background ******/
.bg-purple{
    background-color: #3c1990;
}
.bg-gree{
    background-color: #f6f6f6;
}



/*******  Card *******/

.content--list__product {
	margin: 6em auto;
    @include media-query (small) {
        margin-top: 4em;
    }    
    h1 {
        color: $color-gree;
        font-weight: 600;
        text-align: center;
	}  
	.product__filter{
		margin-top: 8em;
		@include media-query (small) {
			margin-top: 4em;
		}
	}  
	.pagination__product {
		margin-top: 4em;
		.page-link{
			color: $color-purple;
		}
	}
}
.card-identity {
    width: 31.222%;
	margin: 14px 11px;	
	@include media-query(small){
		width: 100%;
	}
	@include media-query (tablet){
		width: 46.888%;
	}		
	@media screen and (min-width:1024px) and (max-width:1090px) {
		width: 30.888%;
	}
	.card-img-top{
		height: 200px;
		border-radius: 15px 10px 0 0 !important;
	}
	.price-product{
        line-height: 40px;
    }
	.btn-purple{
		box-shadow: 0px 4px 15px lighten($color-purple, 40%);
	}
	.btn-blue-light{
		box-shadow: 0px 4px 15px lighten($color-blue-light, 20%);
	}
	&:hover{
		-webkit-box-shadow: -1px 1px 7px 0px #2a0e6d;
		-moz-box-shadow: -1px 1px 7px 0px #2a0e6d;
		box-shadow: -1px 1px 7px 0px #2a0e6d;
	}
}






/******* BTN ********/

.btn-blue {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.btn-blue:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.btn-blue:active {
	position:relative;
	top:1px;
}

.btn-yellow {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:3px;
	border:1px solid #ffaa22;
	display:inline-block;
	color:#333333;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.btn-yellow:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.btn-yellow:active {
	position:relative;
	top:1px;
}

.btn-red {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.btn-red:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.btn-red:active {
	position:relative;
	top:1px;
}

.btn-purple {
	background:linear-gradient(to bottom, #3c1990 5%, #2a0e6d 100%);
	background-color:#3c1990;
	border-radius:6px;
	border:1px solid #1f0a50;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2a0e6d;
}
.btn-purple:hover {
	background:linear-gradient(to bottom, #2a0e6d 5%, #3c1990 100%);
	background-color:#3c1990;
}
.btn-purple:active {
	position:relative;
	top:1px;
}

.btn-blue-light{
	background:linear-gradient(to bottom, $color-blue-light 5%, #2780b5 100%);
	font-family:Arial;
}

.btn-submit-form{
    letter-spacing: 0.2rem;
}




/********  Borders  ********/

.border-dotted{
    border: 3px dotted #afa7a7;
    border-radius: 15px;
}





/***** spinners ******/
.spinner-load{
    text-align: -moz-center;
    text-align: -webkit-center !important;
    text-align: center;    
}





/********* Angular Material *********/
.mat-form-field{
    margin-right: 12px;
    font-size: 15px;
}
.mat-form-field:nth-child(2){
    width: 270px;
}
.mat-form-field-flex {
    background-color: rgb(104 16 199 / 4%) !important;
}


.carousel{
	height: 450px !important;
	.carousel-list{
		height: 450px !important;
		.carousel-slide{
			height: 100% !important;
		}
	}	
}