<!---- Car header -->
<section class="contentCart dropdown">    
  <a data-toggle="dropdown" class="text-dark shopping-bag">         
    <span *ngIf="status == 'success' &&  products.length > 0 else productsNull" class="badge badge-pill badge-blue-light">{{quantity}}</span>
    <ng-template #productsNull><span class="badge badge-pill badge-blue-light" >0</span></ng-template>
  </a>
  <div class="cartMenu dropdown-menu">
    <div *ngIf="status == 'error'" class="alert alert-info">
      No has agregado productos al carrito.
    </div>
    <div *ngIf="status == 'success'">     
      <div class="row total-header-section">
        <div class="col-lg-6 col-sm-6 col-6">
          <div class="shopping-bag"></div><span class="badge badge-pill badge-blue-light">{{quantity}}</span>
        </div>
        <div class="col-lg-6 col-sm-6 col-6 total-section text-right">
          <p>Total: <span class="">{{ total | currency : 'COP' : 'symbol' : '1.0' }}</span></p>
        </div>
      </div>
      <div class="row cart-detail" *ngFor="let product of products">
        <div class="col-lg-4 col-sm-4 col-4 cart-detail-img" *ngIf="product.image; else imgDefault">
          <img src="{{url + 'image/product/' + product.image}}">
        </div>
        <ng-template #imgDefault>
          <div class="col-lg-4 col-sm-4 col-4 cart-detail-img">
            <img src="assets/images/default/default.png">
          </div>
        </ng-template>
        <div class="col-lg-8 col-sm-8 col-8 cart-detail-product">
          <p>{{product.name}}</p>
          <span class="price">{{product.price | currency : 'COP ' :'symbol':'1.0'}}</span> <span class="count"> Cantidad:{{product.stock}}</span><span (click)="delete(product.id)"><i class="fas fa-times-circle"></i></span>
        </div>
      </div>        
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 text-center">
          <a [routerLink]="['lista/carro']" class="btn btn-purple text-white btn-block btn-submit-form">Ver Bolsa</a>
        </div>
      </div>
    </div>
  </div>
</section>